:root {
    --my-dark-blue: #17255A;
    --my-pink: #847996;
    --my-yellow: #F4ECD6; 
    --my-light-blue: #a9d3ff;
    --my-green: #bfd7b5;
    --heading-font: 'Arvo', 'Crimson+Text', 'Yanone+Kaffeesatz', serif;
    --paragraph-font: 'Fira+sans', 'Rubik', 'Heeba', 'Lato', 'Roboto', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


body {
    min-width: 250px;
    margin:0;
    padding: 0;
    color: var(--my-dark-blue);
    font-family: var(--paragraph-font);
  }
h1, h2, h3, h4, nav{
    font-family: var(--heading-font);
}

header nav{
    background-color: var(--my-light-blue);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
    
}

button{
    display: none;
}
main img{
    border: solid 4px var(--my-green) ;
    box-shadow: 10px 10px 15px var(--my-green);

}
main img:hover {
    opacity: .6;
    transform:scale(1.1);
}

#logo{
    display: inline-block;
}

h1{
    background-color: var(--my-green);
}
section p{
    background-color: var(--my-green);
}

footer{
    background-color: var(--my-light-blue);
    color: car(--my-dark-blue);
}
#reviews h3, #shopping h4, #message h2{
    background-color: var(--my-light-blue);
}

@media screen and (max-width: 780px) {
    body{
        font-size: 1em;
    }
    /* This is where I start the Header */
    
    
    
    #logo{
        width: 140px;
        margin: 5px 0px 5px 15px;
    }

    #menu {
        display: block;
        background: var(--my-green);
        font-size: 3em;
        color: var(--my-dark-blue);
    
    }
    .links{
        display: none;
        background-color: var(--my-pink);
        z-index: 1;
        color: var(--my-dark-blue);
        text-decoration: none;
        padding: 2px 4px;

    }
    #dropdown-box:hover .links {
        display: block;
        margin:0;
    }
    #dropdown-box{
        display: inline-block;
        align-self: center;
        justify-self: right;
        margin: 0 15px 0 5px;
    }
   
   
   
    /* Start Main */


    main{
        margin: 20px;
        display: grid;
    }

    main img{
        justify-self: center;
        width: 150px;

    }

 


     section h2, section h3, section h4{
        text-align: center;
    }

    h1 {
        justify-self: center;
        width: 60%;
        padding: 5px
    }


    /* Start Footer */


    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }
    footer div{
        margin: 5px 25px 5px 25px;
    }

  }

@media screen and (max-width: 1600px) and (min-width: 781px){
   body {
    font-size: 1.2em;
   }
    #logo{
        width: 300px;
        grid-column: 0;
    }
    nav div{
        display: grid;
        grid-template-columns: 1fr 100px 2fr 100px 2fr 110px 1fr;
        font-size: 1.5em;
        text-align: center;
        grid-column: 2;
    }
    div a{
        text-decoration: none;
    }
    
    div a:hover {
        background-color: var(--my-pink);
        color: var(--my-dark-blue);
        
    }

    #dropdown-box a:nth-of-type(1){
        grid-column: 2;
    }
    #dropdown-box a:nth-of-type(2){
        grid-column: 4;
    }
    #dropdown-box a:nth-of-type(3){
        grid-column: 6;
    }


    /* This is where the main content starts */

    main{
        display: grid; 
        grid-template-columns: 1fr 275px 50px 250px 1fr;
        grid-template-rows:  100px 100px 300px 100px 300px 100px 300px 1fr ;
    }
    h1{
        grid-row: 1;
        grid-column: 2/5;
        margin-right: 180px;
    }
    #message{
        grid-column: 3/5;
        grid-row: 3;
    }

    #message p{
        padding-left: 8px;
    }
    #message h2{
        padding-left: 8px;
        margin-right: 120px;
    }
    
    #shoe-feet{
        grid-column: 2;
        grid-row:3;
        height: 80%;
        justify-self: right;
    }
    #skateboard-woman{
        grid-column: 4/5;
        grid-row: 5;
        height: 80%;
    }
    #reviews{
        grid-column: 2/4;
        grid-row: 5;
       
    }
    #reviews h3 {
        margin-right: 235px;
    }

    #skateboard-man{
        grid-column: 2;
        grid-row: 7;
        height: 80%;
        justify-self: right;

    }
    #shopping{
        grid-column: 3/5;
        grid-row: 7;

    }
    #shopping p, #shopping h4{
        padding-left: 8px;
    }
    h4 {
        font-size: 1.25em;
        margin-right: 190px
    }
    h3{
        font-size: 1.3em;
    }


    /* Here is the footer*/


    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 3fr;
        
    }

    footer div{
        justify-self: center;
        margin: 30px 10px;
    }
    #social-media-box{
        justify-self: right;
        margin: 30px 10px;
    }
    
}
